name: Build

on:
  push:
  pull_request:

permissions:
  checks: write
  contents: write
  id-token: write
  pages: write

jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build MrKWatkins.EmulatorTestSuites
        uses: MrKWatkins/dotnet-build@main
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
        with:
          name: MrKWatkins.EmulatorTestSuites
          directory: src
          
      - name: Build Documentation
        uses: MrKWatkins/writerside-build@main
        with:
          instance: MrKWatkins.EmulatorTestSuites
          directory: docs